h2{
    font-size: 20;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
}
p{
    color: darksalmon;
    font-size: 5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: dotted;
}
.main{
    color: rgb(14, 235, 198);
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    text-transform: none;
    text-decoration: dashed;
}